body {
    width: 100%;
    min-height: 100vh;
    background: url("../img/resume3.9445961e8901.jpg") top center; /* Update with the actual path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;  /* Adjust text color for better readability */
    font-family: Arial, sans-serif;  /* Adjust font family as needed */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    /* background: rgb(255, 255, 255); */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h3.text-white.bg-dark {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.card {
    padding: 20px;
    border: none;
    border-radius: 0 0 8px 8px;
}

.form-group h5 {
    margin-bottom: 10px;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-dark {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: #555;
}

.alert {
    margin-top: 20px;
}

.alert-dismissible .btn-close {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
}
