body {
    width: 100%;
    min-height: 100vh;
    background: url("../img/resume4.jpg") top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #0f0e0e;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-content {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    color: #0a0a0a;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: 100%;  /* Full width for each section */
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.article-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.resume-paragraph {
    margin-bottom: 20px;
    line-height: 1.6;
    list-style-type: disc; /* Bullet points style */
    padding-left: 20px; /* Space between bullet and text */
    font-style: italic;
}

.section ul {
    padding-left: 20px; /* Ensure bullet points are indented */
    list-style-type: disc; /* Default bullet points */
}

h6 {
    margin: 5px 0;
    font-size: 16px;
    font-weight: normal;
}

h6 strong {
    font-weight: bold;
}

h6 em {
    font-style: italic;
}

a {
    color: #81D8D0;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .section {
        width: 48%;  /* Two sections per row on larger screens */
    }
}
