{% extends 'basic.html' %}

{% block title %} Projects {% endblock title %}

{% block stylecss %}
{% load static %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link href="{% static 'assets/css/project.css' %}" rel="stylesheet">
{% endblock stylecss %}

{% block body %}
<h2>Projects</h2>
<div class="container-content">
  <div class="section">
    <article class="article-box">
      <h3><a href="https://learnhub-seven.vercel.app/">Mycraft</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> An insurance website built using HTML, JavaScript, and CSS.
      </p>
    </article>

    <article class="article-box">
      <h3><a href="https://github.com/Aellun/employee-tracking-system">Employee Management System</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> A system for managing employee data, work hours, and productivity, featuring user-friendly tools for HR and managers.
      </p>
    </article>

    <article class="article-box">
      <h3><a href="https://learnhub-seven.vercel.app/">LearnHub Quiz Application</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> A web-based platform providing self-development tools and resources for organizational growth.
      </p>
    </article>

    <article class="article-box">
      <h3><a href="https://github.com/Aellun/Solid-Adventures/tree/main/task-manager_GUI">Task Manager</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> A Python and Tkinter application for organizing to-do lists, integrated with SQLite3 for data storage.
      </p>
    </article>

    <article class="article-box">
      <h3><a href="https://github.com/Aellun/Solid-Adventures/tree/main/Password_generator">Password Generator</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> A desktop app for generating, storing, and managing secure passwords, built with Python and Tkinter.
      </p>
    </article>

    <article class="article-box">
      <h3><a href="https://github.com/Aellun/Solid-Adventures/tree/main/mycommand-console">Console</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> A Python-based console combining Windows and Linux command functionality for cross-platform ease of use.
      </p>
    </article>

    <article class="article-box">
      <h3><a href="https://github.com/Aellun/Solid-Adventures/tree/main/calculator">Calculator</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> A simple desktop calculator built with Python and Tkinter.
      </p>
    </article>

    <article class="article-box">
      <h3><a href="https://github.com/Aellun/Solid-Adventures/tree/main/app_logging">Logs</a></h3>
      <p class="resume-paragraph">
        <strong>Description:</strong> A GUI tool for tracking and storing application and service logs on a host PC, built with Python, Tkinter, and SQLite3.
      </p>
    </article>
  </div>
</div>
{% endblock body %}
