<!-- {% extends 'basic.html' %} -->

{% block title %}Resume{% endblock title %}

{% block stylecss %}
{% load static %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link href="{% static 'assets/css/resume.css' %}" rel="stylesheet">
{% endblock stylecss %}

{% block body %}
<section id="resume">
  <div class="container-content">
    
    <!-- Professional Experience -->
    <div class="section">
      <h2>Experience</h2>
      <article>
        <h6><strong>IT Support-Digitization</strong>: <a href="https://disigroup.com/about-us/">Digital Imaging and Scanning International</a></h6>
        <h6><em>October 2022 - October 2024</em></h6>
        <ul>
          <li>Installed, configured hardware, and managed network infrastructure</li>
          <li>Troubleshot and maintained software, databases, and systems</li>
        </ul>
      </article>

      <article>
        <h6><strong>Assistant Project Team Leader</strong>: <a href="https://disigroup.com/about-us/">Digital Imaging and Scanning International</a></h6>
        <h6><em>June 2021 - Sept 2022</em></h6>
        <ul>
          <li>Led a team of 10 supervisors, managed digitization workflows</li>
          <li>Developed and streamlined digital processes, provided IT support</li>
        </ul>
      </article>

      <article>
        <h6><strong>Digitization Supervisor</strong>: <a href="https://disigroup.com/about-us/">Digital Imaging and Scanning International</a></h6>
        <h6><em>Jan 2020 - May 2021</em></h6>
        <ul>
          <li>Monitored digitization processes, ensured quality control</li>
          <li>Implemented process improvements for team efficiency</li>
        </ul>
      </article>

      <article>
        <h6><strong>IT Technician Intern</strong>: <a href="https://kenya.ilu.edu/">International Leadership University</a></h6>
        <h6><em>Sept 2018 - Dec 2018</em></h6>
        <ul>
          <li>Maintained IT systems, networks, and provided user support</li>
        </ul>
      </article>
    </div>

    <!-- Education -->
    <div class="section">
      <h2>Education</h2>
      <article>
        <h6><strong>Full Stack Software Engineering</strong>: <a href="https://www.alxafrica.com/news/ali-acquires-holberton-school/">ALX Africa</a></h6>
        <h6><em>May 2023 - November 2024</em></h6>
        <ul>
          <li>Learned C, Python, Shell Scripting, Data Structures</li>
        </ul>
      </article>

      <article>
        <h6><strong>Bachelor of Technology (BIT)</strong>: <a href="https://www.tukenya.ac.ke/sites/default/files/downloads/TUK-list-of-gruaduands-2018.pdf">The Technical University of Kenya</a></h6>
        <h6><em>Aug 2014 - Dec 2018</em></h6>
        <ul>
          <li>Focus on IT Project Management, Databases, and System Security</li>
        </ul>
      </article>
    </div>

    <!-- Certifications -->
    <div class="section">
      <h2>Certifications</h2>
      <article>
        <h6>Electronic Document Management (ECM): <a href="https://hk.newgensoft.com/partners/#resellers">NewgenSoft</a></h6>
        <h6><em>Nov 2022</em></h6>
      </article>

      <article>
        <h6>Leadership and Management: <a href="https://noblework.org/">Noblework Foundation</a></h6>
        <h6><em>July 2021</em></h6>
      </article>

      <article>
        <h6>Certificate In Information Technology: <a href="https://www.google.com/search?sca_esv=589766361&sxsrf=AM9HkKn0uTHQS4wbzQM7CT1ZHNrQ66tBfA:1702297227629&q=Cathedral+Church+Of+Christ+The+King&ludocid=1352565100568654148&lsig=AB86z5XAf6Dv27egK50bp54u2Y90&sa=X&ved=2ahUKEwia87esr4eDAxXBe6QEHXZvCWIQ8G0oAHoECEwQAQ&biw=1850&bih=944&dpr=1">Christ The King Training Institute Nakuru</a></h6>
        <h6><em>July 2021</em></h6>
      </article>
    </div>
  </div>
</section>
{% endblock body %}
